.pp-main-content{
    display: flex;
    flex-direction: column;

    padding: 0 50px 50px 50px;
    margin: 0 auto;

    width: 85%;
    height: 70%;

    transform: translateY(-30px);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--green);
}
.pp-top-img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid #fff;
    filter: brightness(1);

    transition: filter 250ms ease-in-out;
}
.pp-top-img:hover{
    filter: brightness(.75);
}
.pp-top-img:hover + img{
    opacity: 1;
}
.pp-top-img:hover{
    cursor: pointer;
}
.pp-m-c-top{
    display: flex;
    transform: translateY(-30px);
    align-items:center;
    gap: 30px;
}
.pp-top-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pp-top-id{
    font-size: 10px;
    color: rgb(172, 172, 172);
    max-width: 400px;
    max-height: 50px;
    overflow: hidden;
}
.pp-top-name{
    font-size: 24px;
}
.pp-m-c-bottom{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.pp-btn{
    margin-top: auto;
}
.pp-top-img-hover{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;

    transition: opacity 250ms ease-in-out;
}

